*{
    background-color: bisque;
}

h1{
    font-family: 'Dosis',Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(124, 92, 11);
    text-align: center;
}

p, ul, ol, li, a {
    font-family: 'Bitter',Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.6;
}

img {
    border-radius: 5%;
}

.mainpic {
    align-self: centers;
}

.firstpics {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    text-align: center;
}

.unit:hover {
    transform: scale(1.1);
    transition: ease-in;
    border-radius: 20%;
    box-shadow: floralwhite;
}

.firstsentence {
    color: rgb(124, 92, 11);
    padding: 5%;
}